body, html {
    background-color: #f6f6f6;
}
#painting {
    height: 400px;
    width: 400px;
    background-color: #fff4db;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}
#toprow {
    height: 290px;
}
#bigbox {
    height: 290px;
    width: 290px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.purple {
    background-color:purple;
}
.yellow {
    background-color:yellow;
}
.right {
    float: right;
}
#divider1 {
    height: 290px;
    width: 10px;
}
.black {
    background-color: black;
}
#divider2 {
    height: 10px;
    width: 100px;
}
.mediumbox {
    width: 100px;
    height: 140px;
}
#bottomrow {
    height:100px;
}
#divider3 {
    height: 10px;
}
#divider4 {
    height: 10px;
    width: 20px;
    margin-top: 45px;
}
#bottomrow {
    height: 100px;
    margin-bottom: 0px;
}
#divider5 {
    height: 100px;
    width: 10px;
}
#divider6 {
    height: 100px;
    width: 10px;
}
#bottomleft {
    height: 100px;
    width: 100px;
}
.left {
    float: left;
}
#bottommiddle{
    width: 260px;
    height: 100px;
}